body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero-img {
    background-image: center/cover url("img/Fluid-Motion.jpg");
    background-position: center;
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: 150%;
}

.hero-title {
    display: flex;
    justify-items: center;
    align-content: center;
    font-size: 50px;
    color: #020000;
}

.icon-box {
    padding: 20px;
}

.icon {
    font-size: 45px;
    color: #1e4f8a;
    display: block;
}

.info-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subscribe {
    background: url("img/Fluid-Motion.jpg") center/cover no-repeat;

    padding: 80px 0;
}

footer {
    background: #f5f5f5;
}